:root {
  --bg: #f2f3f5;
  --fg: #bb260c;
  --accent: #38bdf8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionado: Garante que padding e border não aumentem a largura total */
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: var(--bg);
  color: var(--fg);
}

#app {
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
  border: 1px solid rgba(226, 232, 240, 0.1);
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

a {
  color: var(--accent);
}

.body-container {
  display: flex;
  margin-top: 150px; /* espaço para o header fixo */
}
header {
  width: 100%;
  background-color: #ebe70b;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Linha de cima: logo, título e login */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  position: static;
  transform: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;

}

.titulo {
  font-family:Helvetica Neue;
  font-size:40px;
  align-items: center;color: #bb260c;
  margin: 0;

}

.login-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-header input {
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;     
}
  
.login-header .btn-entrar {
  background-color: #38bdf8;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.login-header .btn-entrar:hover {
  background-color: #0066cc;
}

/*Responsivo*/
/*480PX BREAKPOINT*/
@media (min-width:30em){

.login  { 
  width: #38bdf8;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;; }

}

/*768PX BREAKPOINT*/
@media (min-width:48em){

.login  { width:35%; }
.login .linksForm a { font-size:0.9em; }

} 

nav {
  width: 100%;
  background-color: #f6f568;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between; /* links centralizados, pesquisa à direita */
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  flex: 1; /* ocupa o meio */
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: var(--accent);
  color: #fff;
}

.pesquisar-form {
  display: flex;
  align-items: center;
  background: #fff;
  gap: 5px;
  justify-content: flex-end;

}

.pesquisar-input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pesquisar-button {
  padding: 6px 10px;
  background-color: var(--accent);
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.pesquisar-button:hover {
  background-color: #0066cc;
}



main {
  margin-top: 220px; 
  margin-left: 300px;
  padding: 20px;
  background-color: #f9fafb;
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background:  #ebe70b; 
  color: var(--fg);          
  padding: 50px 50px;
}

.footer-container {
  display: grid;              
  justify-content: space-between; /* distribui igualmente */
  align-items: flex-start;    /* todos alinhados no topo */
  gap: 30px;                  /* espaço entre blocos */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:space-between;
  align-items: center;
  overflow-y: auto; 
}


/* ===== BLOCO MAP ===== */
.map h5 {
  margin-bottom: 10px;
   color: #bb260c;
   font-size: 20px;
}

/* ===== BLOCO LINKS ===== */


.footer-links h5 {
  margin-bottom: 15px;
  color: #bb260c;
  font-size: 20px;
}

.footer-links a {
  display: flex;             /* deixa o ícone + texto lado a lado */
  align-items: center;       /* alinha no meio vertical */
  margin: 10px 0;
  color:black;               
  text-decoration: none;
}

.footer-links img {
  margin-right: 10px;        /* distância entre ícone e texto */
  filter: brightness(0) invert(1); /* deixa ícone branco */
  transition: transform 0.2s ease;
  cursor: pointer;
}

.footer-links img:hover {
  transform: scale(1.1);
  /* filtro aproximado para #3ac9d3 */
  filter: brightness(0) saturate(100%) invert(83%) sepia(13%) saturate(1941%) hue-rotate(150deg) brightness(92%) contrast(94%);
}

.footer-links a:hover{
  color: #d3d3d3;
}
/* ===== BLOCO COPYRIGHT ===== */
.copy {
  text-align: center;   /* centraliza */
}

.copy h5 {
  margin-bottom: 10px;  /* separa agradecimento do copy */
   color: #bb260c;
   font-size: 20px;
}

.copy p {
  font-weight: bold;
  color:black;
  font-size: 14px;
  opacity: 0.8;        /* deixa mais suave */
}

.copy .copy-marcas {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 35px; /* espaço entre as imagens */
}

.copy .copy-marcas img {
  width: 110px;
  height: auto;
}
